aiofiles
aria2p
aiohttp
beautifulsoup4
cfscrape
cryptg
emoji
mtranslate
google_auth_oauthlib
googletrans
google_images_download
gsearch>=1.6.0
gtts
hachoir
Pillow
psycopg2
pySmartDL
python-barcode
python-magic
regex
requests
speedtest-cli
sqlalchemy
Oauth2client
telegraph
urbandict
wikipedia
youtube-dl
git+https://github.com/ahupp/python-magic
google-api-python-client
httplib2
lxml
selenium
PyGithub
qrcode
pytz
webdriver-manager
cowpy
cowsay
pyfiglet
git+https://github.com/LonamiWebs/Telethon
humanize
hastebin.py
async_generator
pybase64
zalgo_text
pyfiglet 
ChatterBot
chatterbot_corpus
